@media (min-width: 320px) {
    .header {
        font-size: 15px;
    }
}

@media (min-width: 481px) {
    .header {
        font-size: 30px;
    }
}

@media (min-width: 641px) {
    .header {
        font-size: 45px;
    }
}

@media (min-width: 961px) {
    .header {
        font-size: 60px;
    }
}

@media (min-width: 1025px) {
    .header {
        font-size: 75px;
    }
}

@media (min-width: 1281px) {
    .header {
        font-size: 90px;
    }
}